# A First Workflow to play around with the editor
name: My First Workflow
on: 
  push:
    branches:
      - main
jobs:
  first_job:
    name: My First Job
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.0
      - name: Print greeting
        run: echo "Hello World from ${{ github.actor }}"
      - name: Show Directories
        run: tree
      
      
